/* BASE */

:root {
  --clr-blue: #111827;
  --clr-blue-light: #292f3d;
  --clr-gray: #374151;
  --clr-gray-light: #d9d9d9;
  --clr-white: #fff;
  --clr-lavander: #b3b8d8;
  --clr-lavander-light: #e6e9fb;
  --clr-off-white: #fafaff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem rgba(179, 184, 217, 0.5);
}

::selection {
  color: var(--clr-white);
  background-color: var(--clr-blue);
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 43.75em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  color: var(--clr-gray);
  background-color: var(--clr-lavander-light);
}

@media screen and (max-width: 56.25em) {
  body {
    font-size: 1.8rem;
  }
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* TYPOGRAPHY */

.heading--primary {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 4rem;
}

@media screen and (max-width: 56.25em) {
  .heading--primary {
    font-size: 3.6rem;
  }
}

@media screen and (max-width: 31.25em) {
  .heading--primary {
    font-size: 3rem;
  }
}

/* UTILITIES */

.u-container {
  max-width: 109.4rem;
  margin: 0 auto;
}

.u-margin-bottom-sm {
  margin-bottom: 1.2rem;
}

.u-margin-bottom-md {
  margin-bottom: 2.4rem;
}

.u-text-center {
  text-align: center;
}

/* NEWSLETTER */

.newsletter {
  background-color: var(--clr-white);
  border-radius: 16px;
  padding: 7.4rem;
  box-shadow: 1rem 1rem rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 56.25em) {
  .newsletter {
    padding: 6.4rem;
  }
}

@media screen and (max-width: 43.75em) {
  .newsletter {
    padding: 5.2rem;
  }
}

/* FORM */

.form {
  max-width: 81.4rem;
  margin: 0 auto;
}

.form__input-group {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}

.form__input {
  padding: 1.6rem 3.2rem;
  border-radius: 8px;
  border: 1px solid var(--clr-lavander);
  background-color: var(--clr-off-white);
  color: var(--clr-blue);
  width: 100%;
}

.form__input::placeholder {
  color: var(--clr-lavander);
}

.form__label {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
  font-size: 1.4rem;
  text-align: left;
  color: var(--clr-blue);
  cursor: pointer;
}

.checkbox__input {
  opacity: 0;
  pointer-events: none;
  display: none;
  visibility: hidden;
}

.checkmark {
  height: 20px;
  border: 1px solid var(--clr-blue);
  border-radius: 6px;
  flex: 0 0 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.form__label:hover .checkbox__input ~ .checkmark {
  background-color: var(--clr-gray-light);
}

.form__label .checkbox__input:checked ~ .checkmark {
  background-color: var(--clr-blue);
}

.form__label .checkbox__input:checked ~ .checkmark::after {
  display: block;
}

.form__label .checkmark::after {
  top: 50%;
  left: 50%;
  width: 5px;
  height: 10px;
  border: solid var(--clr-white);
  border-width: 0 3px 3px 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

@media screen and (max-width: 31.25em) {
  .form__input-group {
    flex-direction: column;
  }

  .form__label {
    font-size: 1.2rem;
  }
}

/* BUTTON */

.btn--solid {
  font-weight: 500;
  color: var(--clr-white);
  background-color: var(--clr-blue);
  padding: 1.6rem 3.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn--solid:hover {
  background-color: var(--clr-blue-light);
}
