.btn {
  &:link,
  &:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    transition: all 0.3s ease;
  }

  &--full {
    &:link,
    &:visited {
      background-color: $clr-green;
      color: $clr-green-light;
      width: 100%;
    }

    &:hover,
    &:active {
      background-color: lighten($clr-green, 5%);
    }
  }

  &--icon {
    &:link,
    &:visited {
      background-color: $clr-green-light;
      color: $clr-green;
    }

    &:hover,
    &:active {
      background-color: $clr-green;
      color: $clr-white;
    }
  }

  &--mode,
  &--scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    padding: 1rem;
    border: none;
    border-radius: 50%;
    color: $clr-white;
    background: $clr-green;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  &--scroll {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  &--mode:hover,
  &--scroll:hover {
    background: lighten($clr-green, 5%);
  }
}
