.card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid $clr-gray-light;
  cursor: pointer;
  transition: all 0.3s;

  &__img {
    display: block;
    width: 100%;
    object-fit: cover;
    max-width: fit-content;
  }

  &__body {
    padding: 2rem 1.5rem;
  }

  &__difficulty {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    text-transform: uppercase;
    border: 1px solid currentColor;

    &--newbie {
      color: $clr-newbie-dark;
      background-color: $clr-newbie-light;
    }

    &--junior {
      color: $clr-junior-dark;
      background-color: $clr-junior-light;
    }
  }

  &__skills {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 2.4rem;
  }

  &__skill {
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: 1px solid currentColor;
    color: $clr-black;

    &--html {
      color: $clr-html-dark;
      background-color: $clr-html-light;
    }

    &--css {
      color: $clr-css;
      background-color: $clr-css-light;
    }

    &--sass {
      color: $clr-sass;
      background-color: $clr-sass-light;
    }

    &--javascript {
      color: $clr-js-dark;
      background-color: $clr-js-light;
    }
  }

  &__title {
    &:link,
    &:visited {
      @include hoverLink;
      font-family: "Montserrat", sans-serif;
      font-size: 1.8rem;
      color: inherit;
      text-decoration: none;
    }

    &:hover,
    &:active {
      background-size: 100% 2px;
    }
  }

  &__links {
    display: flex;
    gap: 1.2rem;
    margin-top: 2.4rem;
  }
}

.projects-container:hover > .card:hover {
  box-shadow: 0 0 1rem rgba($clr-black, 0.2);
  scale: 1.05;
  z-index: 1;
}

.projects-container:hover > .card:not(:hover) {
  filter: blur(1.5px);
}
