/* BASE */

:root {
  --clr-blue: #141843;
  --clr-gray: #5f627a;
  --clr-cyan: #aef1f5;
  --clr-cyan-dark: #9dd9dd;
  --clr-yellow: #ffddb6;
  --clr-yellow-dark: #e6c7a4;
  --clr-white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 59.375em) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 50em) {
  html {
    font-size: 50%;
  }
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 2rem;
  background-image: url(images/ellipse-pink.png), url(images/ellipse-blue.png),
    url(images/ellipse-yellow.png);
  background-position: left -19.6rem bottom -11.6rem, top 1.8rem center,
    right -11rem top 16.9rem;
  background-repeat: no-repeat;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  color: var(--clr-blue);
}

@media screen and (max-width: 50em) {
  body {
    font-size: 1.8rem;
  }
}

img {
  display: block;
  max-width: 100%;
}

/* UTILITIES */

.u-margin-bottom-sm {
  margin-bottom: 0.4rem;
}

.u-margin-bottom-md {
  margin-bottom: 1.1rem;
}

.u-margin-bottom-lg {
  margin-bottom: 4.3rem;
}

/* TYPOGRAPHY */

.heading--primary {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 3.2rem;
}

@media screen and (max-width: 50em) {
  .heading--primary {
    font-size: 2.8rem;
  }
}

.paragraph--light {
  color: var(--clr-gray);
}

/* BUTTONS */

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-weight: 500;
  font-size: 2rem;
  color: var(--clr-blue);
  text-decoration: none;
  box-shadow: 0 0 0 1px inset var(--clr-blue);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.btn--primary,
.btn--primary:link,
.btn--primary:visited {
  background-color: var(--clr-cyan);
  padding: 1.6rem 4.85rem;
}

.btn--primary:hover,
.btn--primary:active {
  background-color: var(--clr-cyan-dark);
}

.btn--secondary,
.btn--secondary:link,
.btn--secondary:visited {
  background-color: var(--clr-yellow);
  padding: 1.6rem 2.2rem;
}

.btn--secondary:hover,
.btn--secondary:active {
  background-color: var(--clr-yellow-dark);
}

@media screen and (max-width: 50em) {
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.6rem;
  }
}

/* PROFILE */

.profile {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  max-width: 109.8rem;
  border-radius: 30px;
  padding: 4.2rem 3.7rem 8.7rem 12.1rem;
  box-shadow: 0 0 0 20px inset var(--clr-white);
}

@media screen and (max-width: 59.375em) {
  .profile {
    padding: 4.2rem;
    gap: 3rem;
  }
}

@media screen and (max-width: 50em) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 0 10px inset var(--clr-white);
  }
}

.profile__img {
  height: 25rem;
  width: 25rem;
}

.profile__details {
  padding-top: 4.6rem;
}

.profile__stats {
  display: flex;
  list-style: none;
  gap: 4.5rem;
}

@media screen and (max-width: 50em) {
  .profile__details {
    padding-top: 0;
  }

  .profile__stats,
  .profile__ctas {
    justify-content: center;
  }

  .profile__stats {
    gap: 3rem;
  }
}

@media screen and (max-width: 25em) {
  .profile__stats,
  .profile__ctas {
    flex-direction: column;
  }
}

.profile__item > span {
  display: block;
}

.profile__item {
  font-weight: 500;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__item:not(:last-of-type) {
  padding-right: 4.5rem;
  border-right: 1px solid var(--clr-blue);
}

@media screen and (max-width: 50em) {
  .profile__item {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 25em) {
  .profile__item:not(:last-of-type) {
    padding-right: 0;
    border-right: none;
  }
}

.profile__ctas {
  display: flex;
  gap: 2.3rem;
}
