:root {
  --clr-white: #fff;
  --clr-black: #16171d;
  --clr-navy: #21242d;
  --clr-gray: #787a8d;
  --clr-gray-light: rgba(129, 129, 129, 0.4);
  --clr-yellow: #f5c249;
  --clr-yellow-dark: rgba(245, 194, 73, 0.7);
}

/* BASE */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: var(--clr-black);
}

img {
  display: block;
  max-width: 100%;
}

/* TYPOGRAPHY */

.heading {
  font-weight: 700;
  color: var(--clr-white);
}

.heading--primary {
  font-size: 4.4rem;
}

.paragraph {
  color: var(--clr-gray);
}

/* UTILITES */

.u-container {
  max-width: 120rem;
  margin: 0 auto;
}

.u-color-yellow {
  color: var(--clr-yellow);
}

.u-margin-bottom-sm {
  margin-bottom: 1.6rem;
}

.u-margin-bottom-lg {
  margin-bottom: 5.6rem;
}

/* LAYOUT */

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

/* HEADER */

.header {
  padding: 2.4rem 0;
}

/* NAVIGATION */

.navigation {
  display: flex;
  align-items: center;
  gap: 5.6rem;
}

.navigation__brand:link,
.navigation__brand:visited {
  font-weight: 600;
  font-size: 3.2rem;
  text-decoration: none;
  color: var(--clr-white);
}

.navigation__list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  margin-right: auto;
}

.navigation__link:link,
.navigation__link:visited {
  color: var(--clr-gray);
  text-decoration: none;
  transition: color 0.3s ease;
}

.navigation__link:hover,
.navigation__link:active {
  color: var(--clr-yellow);
}

/* BUTTONS */

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-weight: 500;
  font-size: 1.8rem;
  text-decoration: none;
  padding: 1.2rem 2rem;
  border-radius: 10px;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}

.btn,
.btn--primary:link,
.btn--primary:visited {
  background-color: var(--clr-yellow);
  color: var(--clr-black);
}

.btn--primary:hover,
.btn--primary:active {
  background-color: var(--clr-yellow-dark);
}

/* HERO */

.hero__img-box {
  display: flex;
  justify-content: flex-end;
}

/* FEATURE */

.feature {
  text-align: center;
  display: flow-root;
  position: relative;
  padding: 4rem 3.2rem;
}

.feature::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid transparent;
  border-radius: 24px;
  background: linear-gradient(rgb(120, 122, 141), rgba(120, 122, 141, 0.29))
    border-box;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.feature__icon {
  margin: 0 auto 3.2rem;
}

.feature__title {
  font-weight: 600;
  font-size: 2rem;
  color: var(--clr-white);
  margin-bottom: 1.6rem;
}

/* FORM */

.form {
  max-width: 42.7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3.5rem;
  background-color: var(--clr-navy);
  border-radius: 12px;
}

.form__input {
  width: 100%;
  padding: 1.6rem 1.8rem;
  background-color: var(--clr-black);
  border: none;
  border-radius: 12px;
  color: var(--clr-gray);
}

.form__input::placeholder {
  color: var(--clr-gray);
}

.form__input:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 2px inset var(--clr-gray-light);
  cursor: pointer;
}

.form .btn {
  display: block;
  width: 100%;
}
